#{{ ansible_managed }}

[Match]
Name={{ item.key }}

[Network]
{% if item.value.mtu is defined %}
MTUBytes={{ item.value.mtu }}
{% endif %}
{% for key, value in item.value.items() %}
{{ key }}={{ value }}
{% endfor %}
